<div class="row  top_menu" >
	<div class="">
		<ul class="nav nav-pills ">
			<li><a class="region_item" href="/">Недвижимость </a></li>
			<li><a class="region_item" href="/news">Новости </a></li>
			<li><a class="region_item" href="/about">О нас </a></li>
		</ul>
	</div>


	<div class="span12 page_header">
		
		<%= yield :header %>

	</div>
</div>
<%#= render "shared/region_menu" %>

