<div class="row" id="items_list">
 <ul class="thumbnails">
    <% @products.each do |product| %>
   
       
  <li class="span4">
    <div class="thumbnail">
      <img data-src="holder.js/300x200" alt="">
      <h3>Thumbnail label</h3>
      <p>Thumbnail caption...</p>
    </div>
  </li>
  ...





      
    <% end %>
    </ul>

</div>