<% content_for :title, "О нас, Квартиры в Краснодаре, Сочи и крае, продажа квартир в Краснодаре, купить квартир" %>
<h1>О нас</h1>
<p>AdtList недвижимость юга- размещение информации о недвижимости, поиск клиентов</p>
По вопросам размещения рекламы и сотрудничества обращаться по тел. +7 962 85 37 555
